<div class="background-image">

<div class="flex items-center justify-center h-screen ">
        <div class="btns">
            <button style="padding-bottom: 35px; padding-top: 35px;" (click)="openMyDecks()" mat-raised-button>Meus Decks <mat-icon aria-hidden="false" fontIcon="view_carousel"></mat-icon></button>
            <button style="padding-bottom: 35px; padding-top: 35px;" (click)="openNew()" mat-raised-button>Criar Deck <mat-icon aria-hidden="false" fontIcon="add"></mat-icon></button>
        </div>
  </div>
</div>
